body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box {
    color: blue;
    background: green;
    width: 200px;
    height: 200px;
    text-align: center;
}